/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /* lollol */
  --header-height: 4rem;

  /*========== Colors ==========*/
  /* Change favorite color to match images */
  /*Green dark 190 - Green 171 - Grren Blue 200*/
  --hue-color: 190;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 64%, 22%);
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: hsl(var(--hue-color), 64%, 15%);
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
  --spat: #7faec5;
  --lg-bg: #fafafa;
  --green: #4ecd5d;
  --darkblue: #384b61;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.6rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 54%, 12%);
  --title-color: hsl(var(--hue-color), 24%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 29%, 12%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: white;
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
  overflow-y: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 0 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--spat);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  /* gap: 1.5rem; */
}

/*=============== NAV ===============*/

.navbar {
  background: white;
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;

  margin: 0 auto;
  padding: 0 50px;
}

.nav__logo {
  width: 7em;
  padding: 0.5em 0 0.5em 0;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: var(--spat);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: var(--green);
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: var(--green);
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: var(--lg-bg);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 100vh;
    font-size: 1.4rem;
  }

  .nav__logo {
    width: 7em;
    margin-left: 1em;
    padding: 0.5em 0 0.5em 0;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 2.5px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--darkblue);
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 10rem;
  }

  .button_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 25%;
    right: 10%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*=============== HOME ===============*/

.home__data-subtitle,
.home__data-title,
.home__social-link,
.home__info {
  color: var(--white-color);
}

.home__data-subtitle {
  color: var(--spat);
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__data {
  margin-left: 2em;
}

.home__data-title {
  color: var(--darkblue);
  font-size: 1.8rem;
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
  margin-top: -12.5em;
}

.hero__scroll a {
  color: var(--green);
  font-size: 0.8em;
}

/* PARALLAX */
.parallax2 {
  display: none;
}

.parallax {
  margin-top: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

#text {
  position: absolute;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--green);
  color: var(--white-color);
  padding: 0.7rem 1rem;
  border-radius: 5px;
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button--flex {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.button--link {
  background: none;
  padding: 0;
}

.button--link:hover {
  background: none;
}

/*=============== ABOUT ===============*/
.about {
  position: relative;
  background-color: var(--lg-bg);
}

.about__data {
  text-align: left;
}

.about__container {
  row-gap: 2.5rem;
}

.about__description {
  margin-bottom: var(--mb-2);
}

.about__img {
  display: inline-block;
  margin-left: 100px;
  margin-top: -110px;
}

.about__img-overlay {
  overflow: var(--img-hidden);
}

.about__img-one {
  width: 240px;
}


.about__img-one {
  transition: var(--img-transition);
}

.about__img-one:hover {
  transform: var(--img-scale);
}

/* EXPERTISE */
.expertise {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.expertise__title {
  font-size: 1.5rem;
  color: var(--spat);
  font-weight: 600;
  text-align: center;
}

.expertise h3 {
  font-size: 1.3rem;
  color: var(--darkblue);
  font-weight: 600;
  text-align: center;
  padding-bottom: 1em;
}

.expertise__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  padding-top: 2em;
  padding-bottom: 4em;
}

.expertise__card {
  margin: 0 auto;
  height: 25em;
  width: 18em;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
  background-color: var(--lg-bg);
  color: var(--darkblue);
  transition: 0.3s ease-in;
}


.expertise__card img {
  width: 250px;
  padding-bottom: 2em;
}

.expertise__card .expertise2 {
  width: 250px;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.expertise__card:nth-child(2) {
  background-color: var(--lg-bg);
}

.expertise__card:nth-child(3) {
  background-color: var(--lg-bg);
}

.expertise__card button:hover {
  cursor: pointer;
}

.expertise__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

/* KLIMAAT */
.klimaat {
  position: relative;
  background-color: var(--lg-bg);
}

.klimaat__data {
  text-align: left;
}

.klimaat__container {
  row-gap: 2.5rem;
}

.klimaat__description {
  margin-bottom: var(--mb-2);
}

/* SKILLS */

.list-unstyled {
  list-style-type: none;
}

.question {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #EEE;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  position: relative;
}


.question span {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--spat);
  transition: .75s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: .75s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.answer p {
  color: var(--text-color);
  font-size: 1em;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}

.accordion li.open .question span {
  transform: rotate(180deg);
}

.accordion li.open .answer {
  max-height: 150em;
}

.projects__title {
  color: var(--text-color);
  border-bottom: 2px solid var(--green);
  height: 2em;
  width: 12em;
  margin-top: 1em;
}


.projects__title1 {
  color: var(--text-color);
  border-bottom: 2px solid var(--green);
  height: 2em;
  width: 12em;
  margin-top: 3em;
}

.projects__title2 {
  color: var(--text-color);
  border-bottom: 2px solid var(--green);
  height: 3em;
  width: 17em;
  margin-top: 3em;
}

.projects__title3 {
  color: var(--text-color);
  border-bottom: 2px solid var(--green);
  height: 2em;
  width: 17em;
  margin-top: 3em;
}

.sub__title {
  color: var(--spat);
  font-size: 1.4em;
}


.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_icon {
  font-size: 5em;
  color: var(--darkblue);
}


.big {
  font-size: 1.2em;
  color: var(--green);
}


.quote {
  margin-top: 0.5em;
  color: var(--darkblue);
  font-size: 1.5em;
  text-align: center;
}

.client {
  color: var(--darkblue);
  font-weight: 400;
  font-size: 0.8em;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

.link__tool {
  color: var(--text-color);
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
}

/* WATERKWALITEIT */
.waterkwaliteit {
  background-color: white;
  position: relative;
}

.waterkwaliteit__data {
  text-align: left;
}

.waterkwaliteit__container {
  row-gap: 2.5rem;
}

.waterkwaliteit__description {
  margin-bottom: var(--mb-2);
}

/* PROJECTEN */

.portfolio__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.portfolio {
  background-color: var(--lg-bg);
  position: relative;
}

.bd-grid {
  display: grid;
}

.portfolio__item {
  padding: 0.5em;
  cursor: pointer;
}

.portfolio__nav {
  text-align: center;
  margin-bottom: 1.5em;
}

.portfolio__data {
  text-align: left;
  margin: 1em;
}

.portfolio__container {
  width: calc(100% - 3rem);
  margin: 0 auto;
  row-gap: 2em;
}

.portfolio__subtitle {
  font-size: 0.9em;
}


.portfolio__content {
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.portfolio__title {
  text-align: center;
  font-size: var(--h2-font-size);
  color: var(--spat);
}

.portfolio__description {
  margin-bottom: var(--mb-2);
}

.portfolio__name {
  color: var(--spat);
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.portfolio__img {
  width: 100%;
  transition: .4s;
  border-radius: 10px 10px 0 0;
}

.projects__content:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

.projects__content:hover .projects_img {
  transform: scale(1.02);
}

.active-portfolio {
  font-weight: 600;
  border-bottom: 2px solid var(--green);
  padding-bottom: 5px;
}

/* TEAM */

.team2 {
  display: none;
}

.team {
  position: relative;
  background-color: white;
  height: auto;
  padding-top: 1em;
  padding-bottom: 3em;
}

.discover {
  position: relative;
}

.discover__container {
  padding: 2em 4em 2em 4em;
  overflow: hidden;
}

.discover__card {
  width: 300px;
  height: 240px;
  overflow: var(--img-hidden);
  border-radius: 10px;
}

.discover__data {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}


.discover__title,
.discover__description {
  color: white;
}

.team__title {
  margin-top: 1em;
  font-size: 1.7rem;
  color: var(--spat);
  font-weight: 600;
  text-align: center;
}

.discover__description {
  display: block;
  font-size: .75rem;
}

.discover__img {
  transition: .3s;
  width: 100%;
}

.discover__img:hover {
  transform: scale(1.1);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

/* CONTACT */
.contact {
  position: relative;
  background-color: var(--lg-bg);
}

.contact__container {
  align-items: center;
  text-align: left;
}

.contact__data {
  padding-bottom: 3em;
}

.send__us {
  color: var(--spat);
}

.mail__text {
  margin-top: 0.5em;
}

.ri-mail-line:before {
  align-items: center;
}

/*=============== VIDEO ===============*/
.video__container {
  padding-bottom: 1rem;
}

.video__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.video__content {
  position: relative;
}

.video__button {
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  padding: 1rem 1.5rem;
}

.video__button-icon {
  font-size: 1.2rem;
}


/*=============== VIDEO2 ===============*/
.video__container2 {
  padding-bottom: 3rem;
}

.video__content2 {
  position: relative;
}

.video__button2 {
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  padding: 1rem 1.5rem;
}

.video__button-icon2 {
  font-size: 1.2rem;
}


/*=============== SPONSORS ===============*/
.sponsor {
  position: relative;
}

.sponsor__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  justify-items: center;
  row-gap: 3.5rem;
}

.sponsor__content:hover .sponsor__img {
  filter: invert(0.5);
}

.sponsor__img {
  width: 90px;
  opacity: 0.5;
  filter: invert(0.7);
  transition: var(--img-transition);
}

/*=============== FOOTER ===============*/
.footer {
  position: relative;
}

.footer__container {
  row-gap: 5rem;
}

.footer__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__title,
.footer__subtitle {
  font-size: var(--h3-font-size);
}

.footer__title {
  margin-bottom: var(--mb-0-5);
}

.footer__description {
  margin-bottom: var(--mb-2);
}

.footer__social {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1-25);
}

.footer__subtitle {
  margin-bottom: var(--mb-1);
}

.footer__item {
  margin-bottom: var(--mb-0-75);
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--green);
}

.footer__rights {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__copy,
.footer__terms-link {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.footer__terms {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
}

.footer__terms-link:hover {
  color: var(--text-color);
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--green);
  padding: .5rem;
  display: flex;
  opacity: .9;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white-color);
  font-size: 2rem;
}

/* Show scroll */
.show-scroll {
  bottom: 2rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .place__container {
    grid-template-columns: max-content;
    justify-content: center;
  }

  .experience__content {
    padding: 0;
  }

  .experience__overlay:nth-child(1) {
    width: 190px;
  }

  .experience__overlay:nth-child(2) {
    width: 80px;
  }

  .home__info {
    width: 190px;
    padding: 1rem;
  }

  .experience__img,
  .video__container {
    padding: 0;
  }
}

@media screen and (min-width: 454px) {
  .parallax {
    margin-top: -4rem;
    height: 60rem;
  }

  .home__data-title {
    margin-top: -13em;
  }

  .home__data-subtitle {
    font-size: 1.4em;
  }

  .hero__scroll a {
    font-size: 1.2em;
  }

  .about__img {
    display: inline-block;
    margin-left: 170px;
    margin-top: -90px;
  }

  .about__img-one {
    width: 230px;
  }

  .portfolio__content {
    width: 100%;
    margin: 0 auto;
  }

  .contact_text {
    font-size: 2em;
  }

  .br1 {
    display: none;
  }

  .contact__data {
    padding-bottom: 4em;
    padding-left: 3em;
  }

  .home__data {
    padding-left: 1em;
  }

  .scrollup__icon {
    color: var(--white-color);
    font-size: 2rem;
  }

  .footer__terms {
    justify-content: left;
  }


}

/* For medium devices */
@media screen and (min-width: 568px) {
  .parallax {
    margin-top: -5rem;
    height: 75rem;
  }

  .home__data-title {
    font-size: 2.5em;
    margin-top: -12em;
  }

  .home__data-subtitle {
    font-size: 1.7em;

  }

  .hero__scroll a {
    font-size: 1.4em;
  }

  .about__description {
    font-size: 1.2em;
  }

  .section__title {
    font-size: 2em;
  }

  .about__img {
    display: inline-block;
    margin-left: 200px;
    margin-top: -90px;
  }

  .about__img-one {
    width: 300px;
  }

  .about__data {
    max-width: 44rem;
    margin: 0 auto;
  }

  .klimaat__data {
    max-width: 44rem;
    margin: 0 auto;
  }

  .waterkwaliteit__data {
    max-width: 44rem;
    margin: 0 auto;
  }

  .portfolio__content {
    width: 100%;
    margin: 0 auto;
  }

  .portfolio__nav {
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .expertise__card {
    height: 22em;
    width: 16em;
  }


  .expertise__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 0 2em;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .klimaat__description {
    font-size: 1.2em;
  }

  .waterkwaliteit__description {
    font-size: 1.2em;
  }

  p {
    font-size: 1.3em;
  }

  ul li {
    font-size: 1.2em;
    list-style-type: none;
  }

  .bullet4 {
    font-size: 0.8em;
  }

  .sub__title {
    font-size: 1.2em;
  }

  .quote {
    font-size: 1.6em;
  }

  .client {
    font-size: 1em;
  }

  .contact_text {
    font-size: 2em;
    padding: 0 1em 0 1em;
  }

  .mail__text {
    padding: 0 1.6em 0 1.6em;
  }

  .portfolio__title {
    font-size: 2em;
  }

  .portfolio__item {
    font-size: 1.4em;
  }

  .portfolio__subtitle {
    font-size: 1.3em;
  }

  .portfolio__name {
    font-size: 1.7em;
  }

  .footer__copy {
    text-align: center;
  }

  .footer__terms {
    justify-content: center;
  }

  .button_text2 {
    font-size: 1.2em;
  }

  .expertise h3 {
    font-size: 1.4em;
  }

  .nav__logo {
    margin-left: 2em;
  }
}


@media screen and (min-width: 720px) {

  .parallax {
    height: 95rem;
  }

  .home__data {
    padding: 0 3em 0 3em;
  }

  .home__data-title {
    font-size: 2.8em;
    margin-top: -14.3em;
  }

  .hero__scroll a {
    font-size: 1.4em;
  }

  .about__img {
    display: inline-block;
    margin-left: 330px;
    margin-top: -90px;
  }


  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  .portfolio__content {
    width: 100%;
    margin: 0 auto;
  }

  .portfolio__descr {
    font-size: 1.2em;
  }

  .contact_text {
    font-size: 1.9em;
    padding-left: 3em;
  }

  .mail__text {
    padding-left: 5.8em;
  }


  .sponsor__container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 3.5rem;
  }

  .sponsor__img {
    width: 100px;
    opacity: 0.5;
    filter: invert(0.7);
    transition: var(--img-transition);
  }

  .footer__content {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    row-gap: 2.5rem;
    column-gap: 1.5em;
    padding: 0 1em 0 1em;
  }

  .expertise__card {
    height: 25em;
    width: 20em;
  }

  .expertise h3 {
    font-size: 1.8em;
  }

  .discover {
    display: none;
  }


  .team2 {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0 0.4em 4em 0.4em;
  }

  .team2__title {
    font-size: 2rem;
    color: var(--spat);
    font-weight: 600;
    text-align: center;
    padding-top: 4em;
  }

  .team2__wrapper {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding-top: 5em;
    padding-bottom: 3em;
    width: 100%;
    margin: 0 auto;
  }


  .team2__mees {
    background-image: url("../img/Mees1_fullscreen.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 210px;
    height: 260px;

  }

  .team2__timo {
    background-image: url("../img/Timo1_fullscreen.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 210px;
    height: 260px;
  }

  .team2__jesse {
    background-image: url("../img/Jesse1_fullscreen.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 210px;
    height: 260px;
  }


  .team2__mees2 {
    background-image: url("../img/stagiar_full1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 210px;
    height: 260px;
  }

  .name {
    font-size: 1.5rem;
    display: block;
    color: white;
  }

  .mail {
    font-size: 0.8rem;
    display: block;
    color: white;
  }

  .personal__information {
    margin: 13em 0em 0.3em 1em;
  }

  .team2__mees:hover {
    background-image: url("../img/Mees2_fullscreen.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    width: 210px;
    height: 260px;
  }


  .team2__timo:hover {
    background-image: url("../img/Timo2_fullscreen.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    width: 210px;
    height: 260px;
  }

  .team2__jesse:hover {
    background-image: url("../img/Jesse2_fullscreen.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    width: 210px;
    height: 260px;
  }

  .team2__mees2:hover {
    background-image: url("../img/stagiar_full2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    width: 210px;
    height: 260px;
  }

  .contact_text {
    font-size: 2.4em;
    padding: 0 2em 0 2em;
  }

  .mail__text {
    padding-left: 3.8em;
  }

}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .home__data {
    padding: 0 7em 0 7em;
  }

  .home__data-title {
    font-size: 2.8em;
    margin-top: -13em;
  }

  .scroll-header .nav__link {
    color: var(--spat);
  }

  .scroll-header .active-link {
    color: var(--spat);
  }

  .scroll-header .active-link::before {
    background-color: var(--green);
  }

  .scroll-header .change-theme {
    color: var(--text-color);
  }

  .section {
    padding: 8rem 0 4rem;
  }

  .home__container {
    height: 100vh;
    grid-template-rows: 1.8fr .5fr;
  }

  .home__info {
    bottom: 3rem;
  }

  /* .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  } */

  .about__img {
    display: inline-block;
    margin-left: 350px;
    margin-top: -90px;
  }

  .about__img-one {
    width: 310px;
  }

  .about__data {
    padding-left: 1.3em;
  }

  .about__title {
    text-align: initial;
  }

  .about__title {
    margin-bottom: var(--mb-1-5);
  }

  .about__description {
    margin-bottom: var(--mb-2);
  }


  .experience__overlay:nth-child(1) {
    width: 363px;
    margin-right: 4rem;
  }

  .experience__overlay:nth-child(2) {
    width: 160px;
  }

  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }

  .sponsor__img {
    width: 130px;
  }
}

@media screen and (min-width: 820px) {

  .team2__mees {
    width: 240px;
    height: 290px;

  }

  .team2__timo {
    width: 240px;
    height: 290px;
  }

  .team2__jesse {
    width: 240px;
    height: 290px;
  }

  .team2__mees2 {
    width: 240px;
    height: 290px;
  }

  .name {
    font-size: 1.5rem;
    display: block;
    color: white;
  }

  .mail {
    font-size: 0.8rem;
    display: block;
    color: white;
  }

  .personal__information {
    margin: 15em 0em 0.3em 1em;
  }

  .team2__mees:hover {
    width: 240px;
    height: 290px;
  }


  .team2__timo:hover {
    width: 240px;
    height: 290px;
  }

  .team2__jesse:hover {
    width: 240px;
    height: 290px;
  }

  .team2__mees2:hover {
    width: 240px;
    height: 290px;
  }

  .home__data {
    padding: 0 7em 0 7em;
  }

  .home__data-title {
    font-size: 2.8em;
    margin-top: -13em;
  }
}

@media screen and (min-width: 960px) {

  .navbar__container {
    padding: 0 1.5em;
  }

  .navbar__links {
    font-size: 0.9em;
    padding: 0.7em;
  }

  .home__data {
    padding: 0 5em 0 5em;
  }

  .expertise__wrapper {
    padding-bottom: 5em;
    padding-left: 6em;
    padding-right: 6em;
  }

  .parallax {
    height: 100rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .parallax {
    display: none;
  }

  #text {
    display: none;
  }

  .parallax img {
    display: none;
  }

  .parallax2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75rem;
  }

  #text2 {
    position: relative;
  }

  .parallax2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }


  .portfolio__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }


  .home__container {
    grid-template-rows: 2fr .5fr;
  }

  .about__img {
    display: inline-block;
    margin-left: 470px;
    margin-top: -90px;
  }


  .home__info {
    width: 328px;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }

  .home__info-title {
    font-size: var(--normal-font-size);
  }

  .home__info-img {
    width: 240px;
  }

  .discover__card {
    width: 237px;
  }

  .discover__container {
    width: 700px;
  }

  .discover__data {
    left: 1.5rem;
    bottom: 2rem;
  }

  .discover__title {
    font-size: var(--h2-font-size);
  }

  .expertise__wrapper {
    padding: 3em 5em 5em 5em;

  }

  .experience__content {
    margin: var(--mb-1) 0;
    column-gap: 3.5rem;
  }

  .experience__overlay:nth-child(1) {
    width: 463px;
    margin-right: 7rem;
  }

  .experience__overlay:nth-child(2) {
    width: 220px;
    top: 3rem;
  }

  .video__container {
    grid-template-columns: .7fr;
  }

  .video__description {
    padding: 0 8rem;
  }

  .place__container {
    gap: 3rem 2rem;
  }

  .place__card,
  .place__img {
    height: 263px;
  }

  .footer__content {
    justify-items: center;
  }

  #text2 {
    margin-left: -10rem;
  }

  .home__data-subtitle2 {
    color: var(--spat);
    font-size: 1.5em;
    display: block;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-75);
  }

  .home__data2 {
    margin-left: 1em;
  }

  .home__data-title2 {
    color: var(--darkblue);
    font-size: 2.5rem;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
    margin-top: -11em;
  }

  .hero__scroll2 a {
    color: var(--green);
    font-size: 1em;
  }



  .projects__title1 {
    font-size: 1.4em;
  }

  .projects__title2 {
    font-size: 1.4em;
  }

  .projects__title3 {
    font-size: 1.4em;
  }

}




@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}


@media screen and (min-width: 1250px) {
  .parallax {
    display: none;
  }

  #text {
    display: none;
  }

  .parallax img {
    display: none;
  }

  .parallax2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100rem;
    margin-top: -12em;
  }

  .portfolio__container {
    width: calc(100% - 5rem);
    grid-template-columns: repeat(4, 1fr);
  }

  .portfolio__content {
    width: 100%;
    margin: 0 auto;
  }

  .portfolio__descr {
    font-size: 1em;
  }

  .portfolio__name {
    font-size: 1.3em;
  }

  .portfolio__subtitle {
    font-size: 1em;
  }

  .portfolio__item {
    font-size: 1.2em;
  }

  .navbar__links {
    padding: 1.8em;
  }

  #text2 {
    position: absolute;
    margin-left: -30em;
  }



  .parallax2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .team2__mees {
    width: 290px;
    height: 350px;

  }

  .team2__timo {
    width: 290px;
    height: 350px;
  }

  .team2__jesse {
    width: 290px;
    height: 350px;
  }

  .team2__mees2 {
    width: 290px;
    height: 350px;
  }

  .name {
    font-size: 1.5rem;
    display: block;
    color: white;
  }

  .mail {
    font-size: 0.9rem;
    display: block;
    color: white;
  }

  .personal__information {
    margin: 18em 0em 0.3em 1em;
  }

  .team2__mees:hover {
    width: 290px;
    height: 350px;
  }


  .team2__timo:hover {
    width: 290px;
    height: 350px;
  }

  .team2__jesse:hover {
    width: 290px;
    height: 350px;
  }

  .team2__mees2:hover {
    width: 290px;
    height: 350px;
  }

  .team2__wrapper {
    gap: 3em;
  }

  .expertise__wrapper {
    padding: 3em 15em 5em 15em;
  }

}